.x-topbar {
	background: #000;
	min-height: initial;
}
@media screen and (max-width: 767px) {
	.x-topbar {
		display: none;
	}
}
.x-topbar .p-info {
	margin: 9px 0;
	font-size: 15px;
	color: #999 !important;
}
.x-topbar p.p-info a {
	color: #FFF !important;
	border: none;
}
.x-topbar p.p-info a:hover {
	color: #999 !important;
}
.x-topbar p.p-info .language {
	margin-left: 20px;
	font-family: "Microsoft YaHei", "Segoe UI", Tahoma, Arial, Verdana, sans-serif;
}
.x-topbar .x-social-global {
	margin-top: 8px;
}
.x-topbar .x-social-global a {
	color: #FFF;
}
.x-topbar .x-social-global a:hover {
	color: #999;
}
body.home img.event {
	width: 60%;
}
body.home .x-brand, .resp-h {
	color: #3258a8;
}
body.home .appraise {
	background: rgba(0, 0, 0, 0.5);
}
body.ticket .special {
	margin-top: 15px;
}
body.ticket .special mark {
	font-size: 25px;
}
