body, h1, h2, h3, h4 ,h5, h6 {
	font-family: "Lato", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
}
.x-brand img {
	width: 250px;
}
@media (max-width: 767px) {
	.x-brand img {
		width: 200px;
	}
}
.clear {
	clear: both;
}

/* topbar */
.x-topbar {
	background: #000;
	min-height: initial;
}
@media (max-width: 767px) {
	.x-topbar {
		display: none;
	}
}
.x-topbar .p-info {
	margin: 9px 0;
	font-size: 15px;
	color: #999 !important;
}
.x-topbar p.p-info a {
	color: #FFF !important;
	border: none;
}
.x-topbar p.p-info a:hover {
	color: #999 !important;
}
.x-topbar p.p-info .language {
	margin-left: 20px;
	font-family: "Microsoft YaHei", "Segoe UI", Tahoma, Arial, Verdana, sans-serif;
}
.x-topbar .x-social-global {
	margin-top: 8px;
}
.x-topbar .x-social-global a {
	color: #FFF;
}
.x-topbar .x-social-global a:hover {
	color: #999;
}

/* homepage */
body.home .x-counter {
	font-size: 1.5em;
}
body.home .x-counter .number-wrap {
	font-size: 1.5em;
}
body.home img.event {
	width: 60%;
}
body.home .x-brand, .resp-h {
	color: #3258a8;
}
body.home .appraise {
	background: rgba(0, 0, 0, 0.5);
}

/* ticket */
body.ticket .x-highlight {
	background: red;
}

/* sponsor directory */
body.sponsor-directory .col-md-3 {
	float: left;
	width: 25%;
}
body.sponsor-directory .col-md-2 {
	float: left;
	width: 16.6%;
}
@media (max-width: 767px) {
	body.sponsor-directory .col-xs-12 {
		float: left;
		width: 100%;
	}
	body.sponsor-directory .col-xs-6 {
		float: left;
		width: 50%;
	}
	body.sponsor-directory .xs-clear {
		clear: both;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	body.sponsor-directory .col-sm-6 {
		float: left;
		width: 50%;
	}
	body.sponsor-directory .col-sm-4 {
		float: left;
		width: 33.3%;
	}
	body.sponsor-directory .sm-clear {
		clear: both;
	}
}
body.sponsor-directory .col img {
	margin: 0 auto;
	max-width: 90%;
	display: block;
}
body.sponsor-directory .sponsor-h {
	margin: 1.5em auto 1em;
}

/* program */
.program .one-fourth {
	float: left;
	width: 25%;
}
@media (max-width: 767px) {
	.program .one-fourth {
		float: left;
		width: 100%;
	}
	.program .xs-clear {
		clear: both;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.program .one-fourth {
		float: left;
		width: 50%;
	}
	.program .sm-clear {
		clear: both;
	}
}
.program .x-promo {
	margin: 0 auto 2em;
	max-width: 90%;
}

/* speaker */
body.speaker img.event {
	width: 80%;
}
.speaker ul.topic {
	width: 40%;
	float: left;
}

/* why-exhibit */
body.why-exhibit img.event {
	width: 60%;
}

/* Exhibitor Directory */
.exhibitor-directory .entry-content {
	margin-top: 0;
}
.exhibitor-directory .col-md-4 {
	float: left;
	width: 33.3%;
	height: 100px;
	margin-bottom: 50px;
}
@media (max-width: 767px) {
	.exhibitor-directory .col-xs-12 {
		width: 100%;
		margin-bottom: 20px;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.exhibitor-directory .col-sm-6 {
		width: 50%;
	}
}
.exhibitor-directory .img-container {
	float: left;
	width: 100px;
	height: 100px;
	line-height: 100px;
	background: #FFF;
}
.exhibitor-directory .text-container {
	height: 100px;
	display: table-cell;
	vertical-align: middle;
	padding: 0 10px;
}
.exhibitor-directory .img-container img {
	max-width: 100%;
	max-height: 100%;
}
