body, h1, h2, h3, h4 ,h5, h6 {
	font-family: "Lato", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
}
h2 a {
	color: #3258a8;
}
h2 a:hover {
	color: #3cb034;
}
.clear {
	clear: both;
}

/* topbar */
.x-topbar {
	background: #000;
	min-height: initial;
}
.x-topbar .language {
	margin-left: 30px;
}
@media (max-width: 992px) {
	.x-topbar {
		text-align: center;
	}
	.x-topbar .hidden-link, .x-topbar .x-social-global {
		display: none;
	}
	.x-topbar .language {
		margin: 0;
	}
	.x-topbar .p-info {
		padding: 0;
		background: none;
		float: none;
	}
}
.x-topbar .p-info {
	margin: 9px 0;
	font-size: 15px;
	color: #999 !important;
}
.x-topbar p.p-info a {
	color: #FFF !important;
	border: none;
}
.x-topbar p.p-info a:hover {
	color: #999 !important;
}
.x-topbar .x-social-global {
	margin-top: 8px;
}
.x-topbar .x-social-global a {
	color: #FFF;
}
.x-topbar .x-social-global a:hover {
	color: #999;
}

/* navbar */
.x-navbar .x-brand img {
	width: 170px;
}
.x-navbar .desktop ul li a span {
	font-size: 15px;
}

/* homepage */
body.home .x-counter {
	font-size: 1.5em;
}
body.home .x-counter .number-wrap {
	font-size: 1.5em;
}
body.home img.event {
	width: 60%;
}
body.home .x-brand, .resp-h {
	color: #3258a8;
}
body.home .appraise {
	background: rgba(0, 0, 0, 0.5);
}
body.home .resp-p-media {
	color: #FFF;
}

/* ticket */
body.ticket .x-highlight {
	background: red;
}

/* sponsor directory */
.sponsor-directory .col-md-3 {
	float: left;
	width: 25%;
	margin-bottom: 1em;
}
.sponsor-directory .col-md-2 {
	float: left;
	width: 16.6%;
}
@media (max-width: 767px) {
	.sponsor-directory .col-xs-12 {
		float: none;
		width: 100%;
	}
	.sponsor-directory .col-xs-6 {
		float: left;
		width: 50%;
	}
	.sponsor-directory .xs-clear {
		clear: both;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.sponsor-directory .col-sm-6 {
		float: left;
		width: 50%;
	}
	.sponsor-directory .col-sm-4 {
		float: left;
		width: 33.3%;
	}
	.sponsor-directory .sm-clear {
		clear: both;
	}
}
.sponsor-directory .col img {
	margin: 0 auto;
	max-width: 90%;
	display: block;
}
.sponsor-directory .sponsor-h {
	margin: 1.5em auto 1em;
}

body.home .sponsor-directory {
	padding: 2em;
}

/* program */
.program .col-md-3 {
	float: left;
	width: 25%;
}
@media (max-width: 767px) {
	.program .col-xs-12 {
		float: left;
		width: 100%;
	}
	.program .xs-clear {
		clear: both;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.program .col-sm-6 {
		float: left;
		width: 50%;
	}
	.program .sm-clear {
		clear: both;
	}
}
.program .x-promo {
	margin: 0 auto 2em;
	max-width: 90%;
}

/* call-for-speakers */
body.call-for-speakers img.event {
	width: 80%;
}
.call-for-speakers ul.topic {
	width: 40%;
	float: left;
}

/* why-exhibit */
body.why-exhibit img.event {
	width: 60%;
}

/* Exhibitor Directory */
.exhibitor-directory .entry-content {
	margin-top: 0;
}
.exhibitor-directory .col-md-4 {
	float: left;
	width: 33.3%;
	height: 100px;
	margin-bottom: 50px;
}
@media (max-width: 767px) {
	.exhibitor-directory .col-xs-12 {
		width: 100%;
		margin-bottom: 20px;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.exhibitor-directory .col-sm-6 {
		width: 50%;
	}
}
.exhibitor-directory .img-container {
	float: left;
	width: 100px;
	height: 100px;
	line-height: 100px;
	background: #FFF;
}
.exhibitor-directory .text-container {
	height: 100px;
	display: table-cell;
	vertical-align: middle;
	padding: 0 10px;
}
.exhibitor-directory .img-container img {
	max-width: 100%;
	max-height: 100%;
}

/* speaker-avatar */
.speaker-avatar .col-md-2 {
	float: left;
	width: 13.6%;
	margin: 0 1.5% 1em;
}
@media (max-width: 767px) {
	.speaker-avatar .col-xs-12 {
		float: none;
		width: 90%;
		margin: 0 auto 1em;
		max-width: 300px;
	}
	.speaker-avatar .col-xs-12 img {
		width: 160px;
		height: 160px;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.speaker-avatar .col-sm-4 {
		float: left;
		width: 30.3%;
		margin: 0 1.5% 1em;
	}
	.speaker-avatar .col-sm-4 img {
		width: 160px;
		height: 160px;
	}
	.speaker-avatar .sm-clear {
		clear: both;
	}
}

/* GMIC Global Locations */
.global-logo {
	margin-bottom: 1em;
}

/* Timetable */
@media (max-width: 767px) {
	.agendaTable tr {
		border-top: 1px solid #ddd;
	}
	.agendaTable td {
		display: block;
		border-top: none;
	}
}

/* Plug-in Slider*/
.slider {
	position:relative;
	overflow:auto;
	text-align: center;
}
.slider ul {
	margin:0;
}
.slider ul li {
	list-style:none;
	float:left;
}
.slider .dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	text-align: center;
}
.slider .dots li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;

	text-indent: -999em;

	border: 2px solid #fff;
	border-radius: 6px;

	cursor: pointer;
	opacity: .4;

	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}
.slider .dots li.active {
	background: #fff;
	opacity: 1;
}

/* biography */
.biography-div {
	margin-top: 30px;
}
.biography-info {
	text-align: center;
	float: left;
	width: 25%;
}
.biography-info img {
	width: 160px;
	margin-bottom: 1em;
}
.biography-info a {
	display: inline-block;
}
.biography-intro {
	float: right;
	width: 70%;
	margin-left: 5%;
}
@media (max-width: 767px) {
	.biography-div {
		margin-top: 0px;
	}
	.biography-info {
		margin: 1em auto;
		float: none;
		width: 100%;
	}
	.biography-info img {
		width: 160px;
	}
	.biography-intro {
		float: none;
		width: 100%;
		margin-left: 0;
	}
}
